{% extends "/layouts/application.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="title pull-left">
                Manage Profile
            </h2>
            <div class="clearfix"></div>
        </div>

        <div class="widget">
            <div class="widget-header">
                <div class="pull-left">
                    <h2>User Profile</h2>
                    <span>User profile information</span>
                </div>
                <div class="pull-right btn-areas btn-margin">
                    <a href="/users/add" class="btn btn-info">New User</a>
                    <a href="/users/update/{{ user.uuid }}" class="btn btn-info">Update User</a>
                    <a href="/users/delete/{{ user.uuid }}" onclick="return confirm('Are you sure to delete this user?');" class="btn btn-info">Delete User</a>
                    <a href="/users" class="btn btn-info">User List</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="">
                            <a href="">
                                {% if not user.profile_pic is empty %}
                                    <img src="{{ user.profile_pic }}" class="avatar img-thumbnail" onerror="this.onerror=null;this.src='/assets/img/profiles/profile_pic.jpg'" alt="Profile Photo">
                                {% else %}
                                    <img src="/assets/img/profiles/profile_pic.jpg" class="avatar img-thumbnail" alt="Profile Photo">
                                {% endif %}
                            </a>
                            <h6>Upload a different photo...</h6>
                            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#changeProfilePhoto">Change Photo</button>
                        </div>
                        <div class="modal fade" id="changeProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="changeProfilePhotoLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="changeProfilePhotoLabel">Change Profile Photo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" accept-charset="utf-8" controller="users" enctype="multipart/form-data" action="/users/change-profile-picture/{{ user.uuid }}" class="ng-pristine ng-valid">
                                            <div style="display:none;">
                                                <input type="hidden" name="_method" value="POST">
                                            </div>
                                            <input name="photo" type="file" class="form-control well-sm" required="">
                                            <br>
                                            <button type="submit" class="btn btn-success">Change Photo</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- view form column -->
                    <div class="col-md-10 col-sm-8 col-xs-12 personal-info">
                        <ul class="data-list data-list-stripe">
                            <li class="text"><strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</li>
                            <li><strong>Email: </strong> {{ user.email }}</li>
                            <li><strong>Phone: </strong> {{ user.phone }}</li>
                            <li class="text">
                                <strong>Gender: </strong>
                                {% if user.gender is not empty %}
                                    {{ user.gender }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </li>
                            <li>
                                <strong>Birthday: </strong>
                                {% if user.date_of_birth is not empty %}
                                    {{ user.date_of_birth | date("M d, Y") }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </li>
                            <li class="role">
                                <strong>Role: </strong>
                                {% if user.role == 1 %}
                                    <span class="text-info"><strong>Admin</strong></span>
                                {% elseif user.role == 2 %}
                                    <span class="text-success"><strong>Employee</strong></span>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Department: </strong>
                                {% if user.department is not empty %}
                                    <span class="text">{{ user.department }}</span>
                                {% else %}
                                    N/A
                                {% endif %}
                            </li>
                            <li>
                                <strong>Status: </strong>
                                {% if user.status == 1 %}
                                    <span class="label label-info">Active</span>
                                {% elseif user.status == 2 %}
                                    <span class="label label-danger">Inactive</span>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Email varified: </strong>
                                {% if user.email_varified == 1 %}
                                    <span class="label label-info">Yes</span>
                                {% elseif user.email_varified == 0 %}
                                    <span class="label label-danger">No</span>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Website: </strong>
                                {% if user.website is not empty %}
                                    <a href="{{ user.website }}" class="website" target="_blank">{{ user.website }}</a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </li>
                            <li>
                                <strong>Joining Date: </strong>
                                {% if user.joined_date is not empty %}
                                    {{ user.joined_date | date("M d, Y") }}
                                    <span style="font-size: 10px;">
                                        ({{ user.joined_date | date("h:i A") }})
                                    </span>
                                {% else %}
                                    N/A
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}